<div id="reserve">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <form>
                <div class="form-group mb-5 text-center">
                    <label for="number-in-party" style="color: firebrick; font-size: 30px;">Number of People in Your
                        Party:</label>
                    <input type="number" class="form-control" id="number-in-party" aria-describedby="number-in-party"
                        placeholder="Enter Number of People in Your Party">
                </div>
                <button id="submit" type="submit" class="btn btn-dark mt-3">Reserve A Table</button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                {{> reservations/reserve reserve=true}}
            </div>
        </div>

    </div>

</div>