<div id="home">
  <div class="container vertical-center">

    <div class="row">
      <div class="col-12 offset-5">
        <h1 class="text-center mt-5 mb-5">
          <div class="text-center"><span style="color:#ff0000;">T</span><span style="color:#ff0400;">h</span><span
              style="color:#ff0800;">e</span><span style="color:#ff0c00;"> </span><span
              style="color:#ff1000;">B</span><span style="color:#ff1400;">a</span><span
              style="color:#ff1900;">r</span><span style="color:#ff1d00;"> </span><span
              style="color:#ff2100;">&amp;</span><span style="color:#ff2500;"> </span><span
              style="color:#ff2900;">H</span><span style="color:#ff2d00;">o</span><span
              style="color:#ff3100;">o</span><span style="color:#ff3500;">k</span><span
              style="color:#ff3900;">a</span><span style="color:#ff3d00;">h</span><span style="color:#ff4200;">
            </span><span style="color:#ff4600;">L</span><span style="color:#ff4a00;">o</span><span
              style="color:#ff4e00;">u</span><span style="color:#ff5200;">n</span><span
              style="color:#ff5600;">g</span><span style="color:#ff5a00;">e</span></div>
        </h1>





        {{!-- <h3></h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}






        <a class="btn btn-dark mb-4" href="/reserve" style="width: 100%;" role="button">Make A Reservation</a>

        <a class="btn btn-dark" href="/table/:id" style="width: 100%;" role="button">See My Reservation</a>
      </div>
    </div>

  </div>
</div>