<div id="manager">
    <div class="container vertical-center">

        <div class="row" style="width: 100%;">
            <div class="col-12">
                <div class="card mx-auto mt-4">
        <div class="card-body">
          <h2 class="card-title text-center">Reservations</h5>
                <!-- Pass in data from server.js -->
                <ul>
                    {{#each reservations}}

                    <p><span class="label">ID:</span> {{this.id}}</p>

                    {{#if reserved}}
                    {{> reservations/reservation-block reserved=true}}
                    {{/if}}
                    {{/each}}
                </ul>

                <ul>
                    {{#each reservations}}

                    <p><span class="label">ID:</span> {{this.id}}</p>

                    {{#unless reserved}}
                    {{> reservations/reservation-block reserved=false}}
                    {{/unless}}
                    {{/each}}
                </ul>



            </div>

        </div>


    </div>

</div>