<div id="manager">
    <div class="container vertical-center">

        <div class="row" style="width: 100%;">
            <div class="col-12">
                <div class="card mx-auto mt-4">
        <div class="card-body">
          <h2 class="card-title text-center">Reservations</h2>

                 <a class="btn btn-dark float-right mr-5" href="/update-flavors" role="button">Update Flavors</a>
                <!-- Pass in data from server.js -->
                <ul>
                    {{#each reservationsList}}
                    {{#if reserved}}
                    {{> reservations/reservation-block reserve=true}}
                    {{/if}}
                    {{/each}}
                </ul>

                <ul>
                    {{#each reservationsList}}
                    {{#unless reserved}}
                    {{> reservations/reservation-block reserve=false}}
                    {{/unless}}
                    {{/each}}
                </ul>



            </div>

        </div>


    </div>

</div>