<div id="manager">
    <div class="container mx-auto">

        <div class="row mt-4">
            <div class="col-12">

                <h2 class="card-title text-center">Reservations</h2>

                <a class="btn btn-light float-right mr-5" href="/update-flavors" role="button">Update Flavors</a>

            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <!-- Pass in data from server.js -->
                <ul>
                    {{#each reservationsList}}
                    {{#if reserved}}
                    <div class="card mx-auto mt-4">
                        <div class="card-body">
                            {{> reservations/reservation-block reserve=true}}
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </ul>

                <ul>
                    {{#each reservationsList}}
                    {{#unless reserved}}
                    <div class="card mx-auto mt-4">
                        <div class="card-body">
                            {{> reservations/reservation-block reserve=false}}
                        </div>
                    </div>

                    {{/unless}}
                    {{/each}}
                </ul>



                <a href="/">← Back To Home</a>

            </div>

        </div>


    </div>

</div>