<div id="reserve">
    <div class="container vertical-center">

        <div class="row" style="width: 100%;">
            <div class="col-12">

                <form class="">
                    <div class="form-group">
                        <h2 class="text-center">Select Your Hookah Flavor:</h2>
                        <select class="mb-4" id="flavor_list" style="width: 100%;">
                            {{!-- <option value="mint-mist">Mint Mist</option>
              <option value="quad-apple">Quadruple Apple</option>
              <option value="rich-tobacco">Rich Tobacco</option>
              <option value="white-gummy-bear">White Gummy Bear</option>
              <option value="sex-on-the-beach">Sex on the Beach</option>
              <option value="pungent-peach">Pungent Peach</option>
              <option value="watermelon-weekend">Watermelon Weekend</option>
              <option value="grapish">Grapish</option>
              <option value="white-grape">White Grape</option>
              <option value="tropical-twist">Tropical Twist</option>
              <option value="strawberry-kiwi">Strawberry Kiwi</option>
              <option value="strawberry-lemonade">Strawberry Lemonade</option>
              <option value="lemon-cake">Lemon Cake</option>
              <option value="limeapple">Limeapple</option>
              <option value="peachy-pineapple">Peachy Pineapple</option>
              <option value="spiced-chai">Spiced Chai</option>
              <option value="mango-mint">Mango Mint</option>
              <option value="watermelon-winter">Watermelon Winter</option>
              <option value="double-apple-mint">Double Apple Mint</option>
              <option value="crimson-bull">Crimson Bull</option>
              <option value="peary-good">Peary Good</option>
              <option value="blue-raspberry-blend">Blue Raspberry Blend</option>
              <option value="blood-orange">Blood Orange</option>
              <option value="red-roses">Red Roses</option>
              <option value="vanilla-ice">Vanilla Ice</option>
              <option value="maple-magic">Maple Magic</option>
              <option value="key-lime">Key Lime</option>
              <option value="pineapple-pastry">Pineapple Pastry</option>
              <option value="amf">AMF</option>
              <option value="banana-pudding">Banana Pudding</option>
              <option value="jell-o-shot">Jell-O Shot</option>
              <option value="fruit-stripe">Fruit Stripe</option>
              <option value="mojito">Mojito</option>
              <option value="double-bubble">Double Bubble</option>
              <option value="cucumber-lemon">Cucumber Lemon</option>
              <option value="dew-da-dew">Dew Da Dew</option>
              <option value="mystical-unicorn">Mystical Unicorn</option>
              <option value="frozen-honeydew">Frozen Honeydew</option>
              <option value="blueberry-muffins">Blueberry Muffins</option>
              <option value="white-chocolate-peanut-butter">White Chocolate Peanut Butter</option>
              <option value="tigers-blood">Tiger's Blood</option>
              <option value="tropical-pomegranate">Tropical Pomegranate</option>
              <option value="italian-soda">Italian Soda</option>
              <option value="americano">Americano</option>
              <option value="space-daze">Space Daze</option>
              <option value="pineapple-express">Pineapple Express</option>
              <option value="candied-sprite">Candied Sprite</option>
              <option value="code-red">Code Red</option>
              <option value="fruit-salad">Fruit Salad</option>
              <option value="sweet-dream">Sweet Dream</option> --}}
                        </select>
                    </div>
                </form>



                <form>
                    <div class="form-group mb-5 text-center">
                        <label for="number-in-party" style="color: firebrick; font-size: 30px;">Number of People in Your
                            Party:</label>
                        <input type="number" class="form-control" id="number-in-party"
                            aria-describedby="number-in-party" placeholder="Enter Number of People in Your Party">
                    </div>
                    <button id="reserveTable" type="submit" class="btn btn-dark mt-3">Reserve A Table</button>
                </form>
            </div>

        </div>




    </div>

</div>