<div class="container fade-in-fwd">

<a href="/" class="float-right mt-4">â† Back To Home</a>
  <div class="row mt-4">
    {{!-- <div class="col-8">
      <div class="card mx-auto mt-4">
        <div class="card-body">
          <h5 class="card-title">My Table</h5>
          <p>
            <strong>Table Number:</strong> {{reservations.id}}</p>

          <p>
            <strong>Customer Name:</strong> {{reservations.customerName}}</p>
          <p>
            <strong>Customer Email:</strong> {{reservations.customerEmail}}</p>


          <p><strong>Customer Phone Number:</strong> {{reservations.phoneNumber}}</p>

        </div>
      </div>
    </div> --}}
    <div class="col-4 offset-3">
      <div class="container text-center fade-in">
        <h2 id="listTitle">Try our Cocktails!!!!!</h2>
        <ol id="cocktails">
        </ol>
      </div>
    </div>
  </div>
</div>

<script src="/js/cocktail.js"></script>