<div class="container vertical-center">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">My Table</h5>
          <p>
            <strong>Number</strong>: {{reservations.id}}</p>

          <p>
            <strong>Number of People in Party</strong>: {{reservations.numberInParty}}</p>
            <a href="/">â† Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
