.list-group-item {
  line-height: 2.5;
}

h1, 
h2,
label {

  font-family: 'Oleo Script Swash Caps', cursive;
}

h1 {

  font-size: 55px;
  
}

h2 {

  color: firebrick;
}


body {

  background-image: url(../images/smoke_rising-2.png);
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  
}

.vertical-center {
   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  /* max-width: 100%; */
  display: flex;
  align-items: center;
}

#submit {

  width: 100%;
}

#drinkPic {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  color: firebrick;
};

#cocktails li {
  color: firebrick;
}

#descColor {
  color: firebrick;
}

#cNameColor {
  color: firebrick;
}

#listTitle {
  margin-left: 38px;
}






.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
	        animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 20:38:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.fade-out-bck {
	-webkit-animation: fade-out-bck 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: fade-out-bck 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 20:42:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-bck
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.4s both;
	        animation: fade-in 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 20:56:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



